<% layout('layouts/boilerplate') %>

<div class="about">
    <div class="header text-center mt-5 mb-3">
        <h1>About Us</h1>
    </div>
    <div class="container">
        <p><strong>Macaroon</strong> sugar plum cookie topping. Cake toffee sweet roll bonbon marshmallow gummies cotton
            candy sweet. Jelly bonbon icing. Jelly-o cookie bear claw tiramisu tart cake marzipan pie. Sweet caramels
            caramels cookie. Apple pie ice cream chocolate cake cupcake jelly-o. Sugar plum lemon drops bonbon toffee
            lollipop macaroon. Donut wafer topping macaroon chocolate cake jujubes. Jelly beans lemon drops gingerbread
            sesame snaps biscuit. Dragée muffin gummi bears apple pie sesame snaps bear claw jelly-o cookie. Cheesecake
            muffin lollipop donut. Cake sweet roll pudding lemon drops halvah. Lollipop oat cake sweet marzipan apple
            pie
            chocolate bar pudding.
            Cake icing chocolate cake cake lollipop marzipan bear claw. Candy pie muffin candy pastry jujubes pudding.
            Carrot cake jelly-o liquorice sugar plum tootsie roll.</p>
        <p><strong>Fruitcake</strong> chocolate pie cookie marshmallow gummies ice cream. Biscuit jelly halvah tootsie
            roll
            danish. Powder fruitcake tiramisu ice cream tiramisu. Brownie fruitcake chupa chups pastry biscuit macaroon
            cotton candy. Tart gummies dragée cake toffee. Tootsie roll icing gummi bears muffin muffin candy canes.
            Fruitcake liquorice tart gummies brownie cheesecake. Cotton candy sesame snaps carrot cake brownie
            cheesecake
            fruitcake. Sweet roll topping apple pie ice cream caramels jelly-o brownie dragée gingerbread. Gingerbread
            cotton candy cupcake lemon drops ice cream chocolate cake dessert pastry jelly beans.</p>
    </div>
</div>