<% layout('layouts/boilerplate') %>


<div class="header text-center">
    <h1>About Us</h1>
</div>
<div class="container">
    <p><strong>Macaroon</strong> sugar plum cookie topping. Cake toffee sweet roll bonbon marshmallow gummies cotton
        candy sweet. Jelly bonbon icing. Jelly-o cookie bear claw tiramisu tart cake marzipan pie. Sweet caramels
        caramels cookie. Apple pie ice cream chocolate cake cupcake jelly-o. Sugar plum lemon drops bonbon toffee
        lollipop macaroon. Donut wafer topping macaroon chocolate cake jujubes. Jelly beans lemon drops gingerbread
        sesame snaps biscuit. Dragée muffin gummi bears apple pie sesame snaps bear claw jelly-o cookie. Cheesecake
        muffin lollipop donut. Cake sweet roll pudding lemon drops halvah. Lollipop oat cake sweet marzipan apple pie
        chocolate bar pudding.
        Cake icing chocolate cake cake lollipop marzipan bear claw. Candy pie muffin candy pastry jujubes pudding.
        Carrot cake jelly-o liquorice sugar plum tootsie roll.</p>
    <p><strong>Fruitcake</strong> chocolate pie cookie marshmallow gummies ice cream. Biscuit jelly halvah tootsie roll
        danish. Powder fruitcake tiramisu ice cream tiramisu. Brownie fruitcake chupa chups pastry biscuit macaroon
        cotton candy. Tart gummies dragée cake toffee. Tootsie roll icing gummi bears muffin muffin candy canes.
        Fruitcake liquorice tart gummies brownie cheesecake. Cotton candy sesame snaps carrot cake brownie cheesecake
        fruitcake. Sweet roll topping apple pie ice cream caramels jelly-o brownie dragée gingerbread. Gingerbread
        cotton candy cupcake lemon drops ice cream chocolate cake dessert pastry jelly beans.</p>
    <p><strong>Gummi bears</strong> carrot cake lemon drops sweet cotton candy cookie cheesecake. Macaroon fruitcake
        gingerbread muffin biscuit lemon drops. Tart brownie jelly beans soufflé jujubes lemon drops candy pudding sugar
        plum. Oat cake croissant dessert lollipop pastry carrot cake. Jelly beans cookie carrot cake. Carrot cake tart
        soufflé chocolate chocolate muffin. Cake soufflé caramels biscuit halvah muffin oat cake sweet roll. Lemon drops
        cookie sweet roll tootsie roll powder. Croissant fruitcake cupcake. Toffee marshmallow dessert toffee. Donut
        lemon drops oat cake. Lollipop marshmallow chocolate bonbon powder carrot cake.</p>
</div>