<% layout('layouts/boilerplate') %>

<div class="contactuscontent text-center">
    <h1 class="contactusheader">Contact us</h1>
    <p>For all questions about joining out team, amazon medicines & press enquiries, please email <a
            href="mailto:amazonmedicines@email.com">amazonmedicines@email.com</a> or send us a message through our
        Facebook page.</p>
</div>