<% layout('layouts/boilerplate') %>

<div class="col-6 offset-3 shadow-lg my-5">
    <div class="contact text-center">
        <h1 class="contactHeader pt-5">Contact</h1>
        <div class="col-8 offset-2 pt-3 pb-5">
            <p>For questions, please email <a href="mailto:amazonmedicines@email.com">amazonmedicines@email.com</a>.</p>
        </div>
    </div>
</div>