<% layout('layouts/boilerplate') %>

<div class="contactContent text-center">
    <h1 class="contactHeader">Contact</h1>
    <p>For all questions about joining our team, amazon medicines & press enquiries, please email <a
            href="mailto:amazonmedicines@email.com">amazonmedicines@email.com</a> or send us a message through our
        Facebook page.</p>
</div>