body {
    background-color: #f1f1f1;
    font-family: "Verdana";
}

main {
    padding-top: 5%;
}

body .footer {
    background-color: #062e00;
}

body .navbar {
    background: #062e00;
}

.navbar .navbar-brand:hover {
    color: #dbd969;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #dbd969;
}

.navbar .navbar-brand{
    font-weight: 200;
}

.card-header{
    font-size: 2rem;
}

.fab {
    color: #606a72;
}

.fab:hover {
    color: #dbd969;
}

footer a {
    padding-right: 10px;
}