<% layout('layouts/boilerplate') %>

<h1>Blog App Index Page</h1>

<div class="continer mt-5">
    <div class="row">
        <% for(let blogpost of blogposts) { %>
        <a class="col-lg-3 col-md-4 col-sm-6 thumbnail mb-3" href="/blogposts/<%=blogpost._id%>">
            <div class="image">
                <img src="<%= blogpost.images[0].url %>" class="img-fluid">
            </div>
            <div class="content mt-2">
                <h5 class="title"><%= blogpost.title %></h5>
                <p class="text"><%= blogpost.postText.substring(0, 50) %>...</p>
            </div>
        </a>
        <% } %>
    </div>
</div>