<% layout('layouts/boilerplate') %>

<div class="col-8 offset-2 my-5">
    <div class="shadow-lg mb-3">
        <div class="card-header text-center">
            Create A Post
        </div>
        <div class="card-body">
            <form class=" createPostForm mb-5 needs-validation" action="/" method="POST" novalidate
                enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="form-label pt-1" for="postTitle">Title</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="blogpost[title]" id="postTitle"
                            aria-describedby="titlehelpblock" autofocus required>
                        <small id="titlehelpblock" class="form-text text-muted mb-3">Blog Post Title</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label class="form-label  pt-3" for="postBody">Text</label>
                    </div>
                    <div class="col">
                        <textarea class="form-control" name="blogpost[postText]" id="postBody" required></textarea>
                        <small id="textareahelpblock" class="form-text text-muted mb-3">Blog Post Text</small>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-2">
                        <label class="form-label pt-1" for="image">Images</label>
                    </div>
                    <div class="custom-file col-sm-10">
                        <input type="file" class="custom-file-input" name="image" id="image" multiple>
                        <label class="custom-file-label mx-3 overflow-hidden" for="image">Choose image(s)...</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
            </form>
        </div>
    </div>
    <a href="/">Return to All Blogposts</a>
</div>